@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #191B20;
}

header {
  width: 100%;
  height: 100px;
  background-color: #141517;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 73px;
}

.title {
  font-family: "Inria Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 43.16px;
  color: white;
  margin-left: 180px;
}
.title span {
  color: #CC0000;
}

.tab {
  display: flex;
  flex-direction: row;
  gap: 29px;
}
.tab p {
  font-family: "Inria Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
  color: white;
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.tab p:hover {
  background-color: #CC0000;
}

.topRight {
  margin-right: 180px;
}

.research {
  display: flex;
  margin-bottom: 61px;
}
.research input {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
  line-height: 19.36px;
  height: 44px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: none;
}
.research button {
  width: 44px;
  height: 44px;
  font-size: 18px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  background-color: #CC0000;
  border: none;
  cursor: pointer;
}

.searched-movies, .latest-movies {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 1075px;
  height: 380px;
  margin-bottom: 95px;
}
.searched-movies p, .latest-movies p {
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.searched-movies {
  display: none;
}

.swiper {
  text-align: center;
  width: 104%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.swiper-slide {
  position: relative;
}

.swiper-button-next, .swiper-button-prev {
  width: 18px;
  height: 18px;
  position: absolute;
}

.swiper-button-next {
  right: 0%;
}

.swiper-button-prev {
  left: 0%;
}

.movieImage {
  width: 234px;
  height: 351px;
}

.hoverImage {
  opacity: 0;
  position: absolute;
  top: -1%;
  left: 0;
  transform: translateX(7.2%);
  width: 238px;
  height: 355px;
  background: rgba(0, 0, 0, 0.9);
}
.hoverImage:hover {
  opacity: 1;
}

.hoverImageContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 23px;
  width: 100%;
  height: 100%;
  font-family: "Inter";
  color: white;
}
.hoverImageContent h1, .hoverImageContent h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
}
.hoverImageContent h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
}
.hoverImageContent img {
  width: 35px;
  height: 34px;
  margin-bottom: 4px;
}
.hoverImageContent h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.73px;
  color: #CC0000;
}

.movies-genre {
  margin-bottom: 30px;
  width: 1075px;
  height: 519px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 109px;
}
.movies-genre p {
  color: white;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.nameSection {
  margin-bottom: 46px;
}

/* ---!!! Antoine : petite modif swiper des genres début !!!--- */
.genres {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 595px;
  margin-bottom: 26px;
  width: 600px;
  height: 35px;
}

.swiper-container-genres {
  width: 100%;
  height: 100%;
  /* margin: 20px auto; */
  padding-bottom: 26px;
  position: relative;
}

.swiper-container-genres .swiper-wrapper-genres {
  width: 100%;
  height: 100%;
}

.swiper-container-genres .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  /* padding: 10px; */
}

.line {
  border-bottom: 1px solid white;
  width: 595px;
  margin-bottom: 28px;
}

.movies {
  width: 100%;
}
.movies p {
  margin-bottom: 10px;
  margin-left: 30px;
}

.genre {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  padding: 7px 10px;
  border-radius: 8px;
}
.genre:hover {
  background-color: #CC0000;
  cursor: pointer;
}

.genre-chosen {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  padding: 7px 10px;
  border-radius: 8px;
  background-color: #CC0000;
}

footer {
  width: 100%;
  height: 186px;
  background-color: #141517;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-family: "Inria Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 16.79px;
  color: #B8B8B8;
  margin-right: 180px;
}

.popUpSignIn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 410px;
  height: 608px;
  background-color: black;
  z-index: 20;
  color: white;
  border: none;
}

.closePopUpSignIn {
  margin-top: 11px;
  margin-left: 14px;
  margin-bottom: 39px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 54px;
}
.radio input {
  display: none;
}
.radio label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inria Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.78px;
  letter-spacing: 0.03em;
  width: 144px;
  height: 54px;
  cursor: pointer;
}

.labelSignUp {
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.labelLogin {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #CC0000;
}

.fieldsForAuthentication {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 22px;
}
.fieldsForAuthentication input {
  padding-left: 20px;
  width: 288px;
  height: 44px;
  border-radius: 8px;
  border: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}
.fieldsForAuthentication input:focus {
  outline: none;
}

.rememberMe {
  display: flex;
  flex-direction: row;
  margin-left: 61px;
  margin-bottom: 46px;
  -moz-column-gap: 9px;
       column-gap: 9px;
}
.rememberMe input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.rememberMe p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
}

.confirmLogin {
  width: 288px;
  height: 47px;
  background-color: #CC0000;
  border: none;
  border-radius: 8px;
  color: white;
  align-items: center;
  margin-left: 61px;
  margin-bottom: 30px;
  font-family: "Inria Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.account-actions {
  display: flex;
  flex-direction: column;
  margin-left: 63px;
  gap: 19px;
  color: #CC0000;
}
.account-actions a {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  color: #CC0000;
  cursor: pointer;
}
.account-actions span {
  color: white;
  cursor: default;
}

.dialogMovie {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 742px;
  height: 526px;
  z-index: 20;
  background-color: black;
}

.closeDialogMovie, .closeDialogGenres {
  width: 16px;
  height: 16px;
  margin-top: 11px;
  margin-left: 12px;
  cursor: pointer;
}

.movieContent {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 58px;
  margin-top: 40px;
}

.imagePopUpMovie {
  width: 234px;
  height: 351px;
  border: 1px solid white;
}

.movieDetails {
  width: 272px;
  height: 100%;
}

.movieTitle {
  font-family: "Inria Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 23.98px;
  letter-spacing: 0.03em;
  color: #CC0000;
}

.movieYear, .movieGenre, .cast, .actors {
  font-family: "Inria Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 16.79px;
  letter-spacing: 0.03em;
  color: white;
}

.movieCast {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.actors {
  font-weight: 400;
}

.movieYear {
  margin-bottom: 11px;
}

.movieGenre {
  margin-bottom: 14px;
}

.rating {
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
  color: white;
  margin-bottom: 12px;
}
.rating img {
  width: 21px;
  height: 21px;
}
.rating h3 {
  font-size: 21px;
  color: #CC0000;
}

.movieDescription {
  font-family: "Inria Sans";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 29px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
}

.imageNotLoaded {
  margin-left: 20px;
  width: 234px;
  height: 351px;
  display: flex;
  align-items: center;
  background-color: #141517;
  color: #888;
}
.imageNotLoaded p {
  margin-left: 55px;
}

.dialogGenres {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  z-index: 20;
  background-color: black;
}
.dialogGenres p {
  color: white;
}

.popUpGenres {
  display: flex;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */